<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>lookup</title>
	<link href="./styles/output.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />

</head>

<body>
	<nav class="py-5 shadow bg-white fixed top-0 left-0 z-[100] w-full max-h-[150px]">
		<div class="container-meetup ">
			<h1 class="text-4xl flex justify-center font-black text-primary">LOOKUP</h1>
			<ul class="flex justify-center items-center gap-10 pt-8 font-bold">
				<li><a class="relative block ease-in-out duration-200 hover:scale-110" href="/">Home</a></li>
				<li><a class="relative block ease-in-out duration-200 hover:scale-110" href="/explore">Explore</a></li>
				<li><a class="relative block ease-in-out duration-200 hover:scale-110" href="/about">About</a></li>
			</ul>
		</div>
	</nav>